<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Victus residencias</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/filesCss/styles.css}">
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" -->
<!-- 	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" -->
<!-- 	crossorigin="anonymous"> -->

<!-- <!-- Optional theme  -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" -->
<!-- 	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" -->
<!-- 	crossorigin="anonymous"> -->
</head>
<body>
	<div class="header">
		<div class="logo">
			<img alt="Reservar Zona Común Logo" height="50"
				th:src="@{/imagenes/logo.jpg}" width="50" />
			<h1>Victus Residencias</h1>
		</div>
		<div class="nav">
			<a href="indexCrear.html"> <i class="fas fa-user-plus"> </i>
				Crear Cuenta
			</a> <a href="index.html"> <i class="fas fa-sign-in-alt"> </i> Entrar
			</a>
		</div>
	</div>
	<div class="main">
    <div class="login-box">
         <!--Formulario de inicio de sesión--> 
        <form th:action="@{/api/v1/home/login}" method="post">
            <input placeholder="Email o nº móvil" type="text" name="username" required />
            <input placeholder="Password" type="password" name="password" required />
            <button type="submit">Entrar</button>
        </form>
        
        <div class="remember-me">
            <input id="remember" type="checkbox" />
            <label for="remember">Recordarme</label>
        </div>
        
        <div class="links">
            <a href="#">Olvidé mi contraseña</a>
            <a href="#">Activar cuenta</a>
        </div>
    </div>
</div>

	<div class="footer">
		<div class="links">
			<a href="#"> Aviso legal </a> <a href="#"> Privacidad </a> <a
				href="#"> Cookies </a>
		</div>
	</div> 

	<!-- Latest compiled and minified JavaScript -->
	<!-- 	<script -->
	<!-- 		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" -->
	<!-- 		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" -->
	<!-- 		crossorigin="anonymous"></script> -->
</body>
</html>